<div id="logos">
	<img src="{f:uri.image(src: 'EXT:mpdb_web/Resources/Public/Icons/hmt-logo.png')}" alt="Das Logo der Hochschule für Musik und Theater 'Felix Mendelssohn Bartholdy' Leipzig">
	<img src="{f:uri.image(src: 'EXT:mpdb_web/Resources/Public/Icons/slub-logo.jpg')}" alt="Das Logo der Sächsischen Landesbibliothek &ndash; Staats- und Universitätsbibliothek Dresden (SLUB)">
	<img src="{f:uri.image(src: 'EXT:mpdb_web/Resources/Public/Icons/hsta-logo.png')}" alt="Das Logo des Sächsischen Staatsarchivs">
	<img src="{f:uri.image(src: 'EXT:mpdb_web/Resources/Public/Icons/dfg-logo.gif')}" alt="Das Logo der Deutschen Forschungsgemeinschaft.">
</div>
