@font-face {
	font-family: Aileron;
	src: url(../Fonts/Aileron-Light.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Aileron;
	src: url(../Fonts/Aileron-LightItalic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Aileron;
	src: url(../Fonts/Aileron-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Aileron;
	src: url(../Fonts/Aileron-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: 'Cotham Sans';
	src: url("../Fonts/CothamSans.woff2");
}
